html {
  min-height: 50vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg.github-icon {
  font-size: 100px;
  margin-bottom: 15px;
}

.login-area {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 30px 60px;
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.repositories-header {
  padding: 10px;
  background: #f9f9f9;
}

.organization-details .MuiListItemText-secondary {
  max-width: 500px;
}

.organization-details li {
  border-bottom: 1px solid #eee;
}

.organization-details li:last-child {
  border-bottom: 0;
}

.small-height {
  max-height: 400px;
  height: auto;
  overflow: auto;
}

.xs-height {
  max-height: 280px;
  height: auto;
  overflow: auto;
}

.toggle-button {
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.footer {
  background: #333;
  padding: 15px 0;
  color: #FFF;
}

.footer a:hover {
  text-decoration: none;
  color: #fff;
}

.dashboard {
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 60px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notifications-feed .notification-item {
  padding: 10px;
}

.notifications-feed .notification-item .notification {
  background: #fbfffb;
}

.notifications-feed .notification-item .notification a, .notifications-feed .notification-item .notification p {
  margin: 5px 0;
}